In [10]:
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [4]:
#Raw Data
donations = pd.read_csv('../Capstone_Data/io/Donations.csv')
donors = pd.read_csv("../Capstone_Data/io/Donors.csv")
projects = pd.read_csv("../Capstone_Data/io/Projects.csv")
resources = pd.read_csv("../Capstone_Data/io/Resources.csv")
schools = pd.read_csv("../Capstone_Data/io/Schools.csv")
teachers = pd.read_csv("../Capstone_Data/io/Teachers.csv")

/Users/whitney/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Kaggle Training Data
train = pd.read_csv("~/Galvanize/Capstone_Data/train.csv")

In [10]:
data_sets = [donations, donors, projects, resources, schools, teachers]
set_names = ['donations', 'donors', 'projects', 'resources', 'schools', 'teachers']

In [11]:
for idx, data in enumerate(data_sets):
    print(data.shape)
    print('Columns in', set_names[idx])
    print(data.columns.values)
    print()

(4687884, 7)
Columns in donations
['Project ID' 'Donation ID' 'Donor ID'
 'Donation Included Optional Donation' 'Donation Amount'
 'Donor Cart Sequence' 'Donation Received Date']

(2122640, 5)
Columns in donors
['Donor ID' 'Donor City' 'Donor State' 'Donor Is Teacher' 'Donor Zip']

(1110017, 18)
Columns in projects
['Project ID' 'School ID' 'Teacher ID' 'Teacher Project Posted Sequence'
 'Project Type' 'Project Title' 'Project Essay'
 'Project Short Description' 'Project Need Statement'
 'Project Subject Category Tree' 'Project Subject Subcategory Tree'
 'Project Grade Level Category' 'Project Resource Category' 'Project Cost'
 'Project Posted Date' 'Project Expiration Date' 'Project Current Status'
 'Project Fully Funded Date']

(7210448, 5)
Columns in resources
['Project ID' 'Resource Item Name' 'Resource Quantity'
 'Resource Unit Price' 'Resource Vendor Name']

(72993, 9)
Columns in schools
['School ID' 'School Name' 'School Metro Type'
 'School Percentage Free Lunch' 'School State' 'School Zip' 'School City'
 'School County' 'School District']

(402900, 3)
Columns in teachers
['Teacher ID' 'Teacher Prefix' 'Teacher First Project Posted Date']

In [15]:
nan = projects['Project Fully Funded Date']

In [19]:
projects['Project Essay']

0          Did you know that 1-7 students in grades K-12 ...
1          Help us have a fun, interactive listening cent...
2          Visiting or moving to a new place can be very ...
3          Students at our school are still working hard ...
4          "Idle hands" were something that Issac Watts s...
5          We know that success in school is directly rel...
6          Travel and hands on experiences outside the cl...
7          Current events, news, and non-fiction articles...
8          Grammar can be tricky!  My students face many ...
9          Do you remember when your parents read bedtime...
10         Teasing is part of being a kid, right? Wrong! ...
11         Help keep us engaged and active in our learnin...
12         Early exposure to books can be an important co...
13         We have tried having communities of materials ...
14         Learning to read is a process of building skil...
15         What student wants to sit in their desk all da...
16         In today's society, children are experiencing ...
17         Can you imagine what it's like to be dropped i...
18         As a first year teacher, I have noticed my stu...
19         Ever have trouble focusing on your work becaus...
20         I teach first grade at an AMAZING public schoo...
21         Program error!  This tends to be the message m...
22         My students have been greatly blessed by donor...
23         It amazes me how children today know so much a...
24         "Is it my library day?" My students are so eag...
25         Do you remember your favorite classroom from e...
26         In the age of technology, everything is comput...
27         Have you ever tried to focus in a room full of...
28         My students are a fabulous group of high energ...
29         Do you remember those horrible worksheets? The...
                                 ...
1109987    Our students come from a low-income area, with...
1109988    Every student in our small K-8 building will w...
1109989    The students attending my school come from low...
1109990    Our students come from different areas of our ...
1109991    I am a teacher in a high poverty school where ...
1109992    Do you know what unconditional love feels like...
1109993    My students are an incredibly diverse populati...
1109994    I teach at a middle school in a large city. We...
1109995    Our school is a growing school in an small tow...
1109996    I teach 5th grade because I chose education as...
1109997    We are learning more and more about how trauma...
1109998    "So it is with children who learn to read flue...
1109999    We are a diverse group of active and engaged l...
1110000    I work with students diagnosed with a variety ...
1110001    The Bulldogs are a select group of male studen...
1110002    My students come from a low income area and ou...
1110003    My classroom is made of students that come fro...
1110004    My students range from kindergarten to fourth ...
1110005    Many of our students and athletes come from lo...
1110006    Our school is a very small rural school 10 mil...
1110007    As an instructional coach in a low-income scho...
1110008    I teach a group of Kindergarten students in Ca...
1110009    I teach at a preK- 4th grade school. We are hi...
1110010    We are an elementary school in the only distri...
1110011    I love that my students are passionate about r...
1110012    Most of the scholars had no idea that they wou...
1110013          My students are super second graders!!! ...
1110014    I teach at a Title I school, and 76% of studen...
1110015    I teach at a Title I school for a district tha...
1110016    My preschool students are the sweetest, despit...
Name: Project Essay, Length: 1110017, dtype: object

In [44]:
print(projects["Project Cost"].max())
idx = projects["Project Cost"].values.argmax()

255737.67

In [45]:
projects.iloc[[idx]]

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
376933,bbbc6cccccd3c1bc8c44ec494bb6cf23,bcd76789a5ed1894cad90177b56f9d90,ba835ad62be9d5f38b2e54a8edbf83fb,1,Teacher-Led,Fund Olympic Fencing Programs at Democracy Prep!,We are network of 17 schools across inner city...,We are network of 17 schools across inner city...,My students need fencing equipment for our pro...,Health & Sports,Gym & Fitness,Grades 3-5,Supplies,255737.67,2015-08-28,2016-01-29,Fully Funded,2015-12-28

In [59]:
donations.groupby('Project ID').count()['Donation ID'].mean()

5.197412316442434

In [64]:
projects["Project Fully Funded Date"].notnull().sum()/len(projects)

0.7448210252635771

In [78]:
(donations.groupby('Donor ID').count()['Project ID'] == 1).sum()/2024554

0.7268825627767893

In [77]:
len(donations['Donor ID'].unique())

2024554

In [80]:
projects.columns

Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Project Posted Date', 'Project Expiration Date',
       'Project Current Status', 'Project Fully Funded Date'],
      dtype='object')